* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Red Hat Text";
    overflow: hidden;
}
.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: 
        url('./Combined Shape.png'), 
        url('./Rectangle.png'); 
    background-size: cover, cover; 
    background-position: center, center; 
    background-repeat: no-repeat, no-repeat;
}
header {
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-text    {
    color: #FFF;
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 7.5px;
    text-transform: uppercase;
}
main {
    width: 100%;
    display: flex;
    justify-content: center;
}
.timer {
    width: 60%;
    height: 185px;
    display: flex;
    justify-content: space-between;
}
.time-box {
    width: 148px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.number {
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FB5E84;
    font-size: 80px;
    font-weight: 700;
    line-height: 71px; 
    letter-spacing: -2.4px;
    background-image: url(./Group\ 2.svg);
}
.time-box p {
    color: #8385A9;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 5.919px;
    text-align: center;
    text-transform: uppercase;
}
footer {
    width: 100%;
    flex: 1; 
    display: flex;
    justify-content: center;
    align-items: end;
    background-image: url(./Group\ 5.png);
    background-repeat: no-repeat;
    background-position: bottom center; 
    background-size: 100% auto;
}
.social-media {
    height: 120px;
}
.icons {
    cursor: pointer;
}
@media (max-width: 1110px) {
    .header-text {
        font-size: 18px;
        letter-spacing: 6.136px;
    }
    .timer {
        width: 60%;
        height: 94px;
    }
    .time-box {
        width: 70px;
        height: 93px;
    }
    .number {
        height: 71px;
        font-size: 36px;
        letter-spacing: -1.08px
    }
    .time-box p {
        font-size: 7px;
        letter-spacing: 2.959px;
    }
    footer {
        background-size: auto;
    }
}
@media (max-width: 600px) {
    .header-text {
        width: 327px;
    }
    .timer {
        width: 90%;
    }
}